* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    margin-top: 30vh;
    width: 400px;
    height: 400px;
    background-color: blue;
}

.box {
    position: absolute;
    top: 0%;
      width: 200px;
    height: 200px;
    background-color: rgb(9, 168, 67);
}